header {
    background-color: #505033;
    color: #fff;
    padding: 10px;
    text-align: center;
}
.footer {
    background-color: #505033;
    color: #fff;
    padding: 10px;
    text-align: center;
}
div {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid #000;
    background-color: #B4CDE4;
}
body {
    font-family: Arial, sans-serif;
    background-color: #CFCFB4;
    }

}